#home{
    #main{
    min-height: 100vh !important;
    }
    
    h1{
        margin-top: 2vw;
        margin-left: 2.5vw;
        margin-bottom: 2vw;
    }
   .content{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
 
   }
 
}